<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Example on how to use Madlib REST API</h1>
  <div id="put-stuff-here"></div>
  
  <p>
    One day farmer John went out on his 
    <input type="text" id="ad1" placeholder="noun">
    and tilled the ground.
    The <input type="text" id="ad2" placeholder="noun">
    follows the plow, as they say. But where was it that we 
    <input type="text" id="ad3" placeholder="verb"> the donut?
  </p>
  <button id="post-data-button">Click me!</button>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/static/js/example.js"></script>
</body>
</html>
